<%- include ('partials/_header'); -%>

<!-- FORM -->
<div class="col-md-3">
  <div class="card">
    <div class="card-body">
      <form action="/add" method="POST">
        <div class="form-group">
          <input type="text" name="name" placeholder="Insert Name" class="from-control mb-2" required >
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Insert Email" class="from-control mb-2" required>
        </div>
        <div class="form-group">
          <input type="number" name="phone" placeholder="Insert Phone"  class="from-control mb-2" min="1000000000" max="9999999999" required >
          <!-- <input type="tel" id="phone" name="phone" placeholder="Like=> 461-231-53-85" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="Phone number 10 digits" required> -->
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Insert Password" class="from-control mb-2" required>
        </div>
        <div class="form-group mb-2">
          <select name="gender" >
            <option  name="gender" select>Femenino</option>
            <option  name="gender" >Masculino</option>
            <option  name="gender" >Otro</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" name="hobbie" placeholder="Insert Hobbie" class="from-control mb-2" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
    </div>
  </div>
</div>
<a href="/">
  <button class="btn btn-info mt-4">Regresar a Pantalla Princial</button>
</a>
<%- include ('partials/_footer'); -%>